/*!
Theme Name: Mittnett Divi 5 Child
Theme URI: https://mittnett.no
Description: A bare bone Divi Child Theme
Version: 1.0.1
Author: Mittnett
Author URI: https://mittnett.no
Template: Divi
*/

@import "variables";
@import "nav";