/*!
Theme Name: Divi 5 Child Theme
Theme URI: https://github.com/yourusername/divi-five-child
Description: A modern starter child theme for Divi 5
Version: 1.0.0
Author: Your Name
Author URI: https://yourwebsite.com
Template: Divi
*/

@import "variables";
@import "nav";